p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

section, span, div, ul, li {
    box-sizing: border-box;
}

html, body, #root, .router-content {
    height: 100%;
}

.router-content {
    display: flex;
}

.clear:after {
    display: block;
    content: '';
    clear: both;
}

.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-dropdown-menu-item {
    width: 160px;
}