.basic-layout {
    .logo {
      height: 32px;
      background: #333;
      border-radius: 6px;
      margin: 16px;
    }

    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 16px;
        cursor: pointer;
        transition: color .3s;

        &:hover {
            color: #108ee9;
        }
    }
    
    .content {
        margin: 88px 16px 24px;
        padding: 24px;
        background: #fff;

        .filter-content {
            /* padding-bottom: 25px; */

            .ant-form-item {
                display: flex;
                margin-bottom: 24px;                

                .ant-form-item-control-wrapper{
                    flex: 1;

                    .ant-select, .ant-calendar-picker {
                        width: 100% !important;
                    }
                }
            }

            .filter-btn{
                margin-top: 20px;

                & > .ant-btn {
                    &:nth-of-type(n+2) {
                        margin-left: 12px;
                    }
                }
            }
        }

        .func-content {
            padding-bottom: 25px;
        }

        .ant-table {
            td.row-operation {
                a {
                    margin-right: 10px;
                }
            }
        }

        .ant-input-number {
            width: 100%;
        }
    }
}